#rOutlet{
    padding-top: 70px;
}

#bodySection{
    width: 100%;
}


@media (min-width: 576px) and (max-width: 767.98px) { 
    #bodySection{
        margin-left: 10px !important;
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    #bodySection{
        margin-left: 190px !important;
        max-width: 75%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){
    #bodySection{
        margin-left: 190px !important;
        max-width: 80%;
    }
 }

 @media (min-width: 1200px) {
    #bodySection{
        margin-left: 200px !important;
        max-width: 80%;
    }
  }

  @media print {
    body * {
      visibility: hidden !important;
      display: none !important;
    }
    #print-section{
      visibility: visible;
    }
    #print-section {
      position: absolute;
      left: 0;
      top: 0;
    }
  }