main{
    width: 100%;
    background-image: url("./../../../../assets/app-assets/images/backgrounds/bg-12.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}