<div class="main-menu menu-fixed menu-shadow menu-dark menu-accordion" data-scroll-to-active="true" id="sidebar">
  <div class="main-menu-content">
      <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
          <li class=" navigation-header"><span>Admin</span><i class="ft-minus" ></i>
          </li>
          <li class="nav-item"><a routerLink="/dashboard/home"><i class="ft-home"></i><span class="menu-title" >Dashboard</span>
          </a>
          </li>
          <li class="nav-item" *ngIf="type === 'admin'"><a routerLink="/dashboard/users"><i class="ft-user"></i><span class="menu-title">Users</span></a>
          </li>
      </ul>
  </div>
</div>