<div class="content-body" *ngIf="!ifCall">
  <section class="basic-elements">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Start a Call</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <div *ngIf="!calling">
              <app-spinner *ngIf="showSpinner && !calling"></app-spinner>
               <div class="row" *ngIf="!showSpinner">
                  <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                      <fieldset>
                        <label for="enter">Choose Users:</label>
                        <select class="form-control" [(ngModel)]="selectedUser">
                          <option [value]="item.did" *ngFor="let item of users">{{item?.address}}</option>
                        </select>
                      </fieldset>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                        <fieldset>
                          <label for="enter">Add To Call:</label>
                          <button style="margin-top: 5px;" class="btn btn-primary btn-block"
                          (click)="addUser()">Add</button>
                        </fieldset>
                      </div>
               </div>
               <div class="row" *ngIf="callUsers.length !== 0">
                  <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                      <fieldset>
                        <label for="enter">Selected Users:</label>
                        <ul>
                            <li *ngFor="let item of callUsers">{{getUserName(item)}}</li>
                          </ul>
                      </fieldset>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                        <fieldset>
                          <label for="enter">Start Call:</label>
                          <button style="margin-top: 5px;" class="btn btn-primary btn-block"
                          (click)="startCall()">Start</button>
                        </fieldset>
                      </div>
               </div>
              </div>
               <!-- Call Div -->
               <h5 *ngIf="calling">Incoming Call</h5>
               <div class="row" *ngIf="calling">
                  <div style="display: block; margin: 0 auto;">
                      <img  src="/assets/calling.gif" style="width: 325px; height: 300px">
                  </div>
               </div>
               <div class="row" *ngIf="calling">
                  <div  style="display: block; margin: 0 auto;">
                      <button class="btn btn-primary" (click)="acceptCall()" >Accept Call</button>
                      &nbsp;&nbsp;
                      <button class="btn btn-danger" (click)="rejectCall()">Reject Call</button>
                    </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container" *ngIf="ifCall">
  <div class="row" style="height: 480px;">
    <div class="col-8 col-lg-8 col-md-6 col-sm-12 mb1" id="currentVideo">

    </div>
    <div class="col-4 col-lg-3 col-md-6 col-sm-12 mb1" id="otherVideos" style="position: relative; right: -60px;" >

    </div>
  </div>
  <br>
  <div class="row">
    <div>
      <button class="btn btn-primary" (click)="endCall()" >End Call</button>
    </div>
  </div>
</div>